* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #05080d;
}

/*   CONTENEDOR PRINCIPAL  */

.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* BANNER */

.banner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateX(-22%);
    
}

/* SECCIÓN LOGIN */

.login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 6%;
}

/* LOGO */

.logo {
    width: 240px;
    display: block;
    margin: 0 auto 25px;
}

/* TÍTULO */

.login h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

/* Texto debajo del título */

.login-box > p {
    text-align: center;
    color: #8a8f99;
    font-size: 13px;
    margin-bottom: 30px;
}

/* FORMULARIO */

form {
    width: 100%;
}

/* Etiquetas */

form label {
    display: block;
    font-size: 13px;
    margin-bottom: 7px;
}

/* CAMPOS DE TEXTO */

.input-box {
    height: 50px;
    display: flex;
    align-items: center;
    background: #12151c;
    border: 1px solid #1f2430;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Iconos */

.input-box i {
    color: #e5a93c;
    margin: 0 10px 0 15px;
}

/* Inputs */

.input-box input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Texto del placeholder */

.input-box input::placeholder {
    color: #8a8f99;
}

/* Efecto al seleccionar */

.input-box:focus-within {
    border-color: #e5a93c;
}

/* OLVIDASTE CONTRASEÑA */

.forgot {
    display: block;
    text-align: right;
    color: #e5a93c;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 25px;
}

/* BOTÓN */

button {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background: #e5a93c;
    color: #111;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

/* Hover del botón */

button:hover {
    background: #d4982b;
}

/* Icono del botón */

button i {
    margin-left: 8px;
}

/* CREAR CUENTA */

.register {
    text-align: center;
    color: #8a8f99;
    font-size: 12px;
    margin-top: 25px;
}

.register a {
    color: #e5a93c;
    text-decoration: none;
}

/* CUADRO DEL LOGIN */

.login-box {
    width: 460px;
    max-width: 100%;
    background: #12151c;
    border: 1px solid #1f2430;
    border-radius: 16px;
    padding: 40px;
}